extends layout/index

block content
  .container.mt-5
    h1.text-center.mb-4 Proyectos

    .row
      each proyecto in proyectos
        .col-md-6.mb-4
          .card.shadow-sm.h-100
            if proyecto.imagen
              img.card-img-top(src=proyecto.imagen, alt=proyecto.nombre)
            .card-body
              h5.card-title= proyecto.nombre
              p.card-text= proyecto.descripcion
              a.btn.btn-outline-primary(href=proyecto.github, target="_blank")
                i.fab.fa-github.me-2
                | Ver en GitHub
